<%- include("templates/header") %>
<head>
    <title>Calendar</title>
    <link rel="stylesheet" href="/styles/calendar.css">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.12/index.global.min.js'></script>
    <script type="module" src="/scripts/calendar.js"></script>
</head>

<body id="calendarBody">
<%- include("templates/navbar") %>
<div id="calendar-container">
    <div id="calendar"></div>
</div>
</body>

<%- include("templates/footer") %>
