<%- include("templates/header") %>
<%- include("templates/navbar") %>

<head>
    <title>Calendar</title>
    <link rel="stylesheet" href="./styles/calendar.css">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.12/index.global.min.js'></script>
</head>

<body id="calendarBody">
<div id="calendar-container">
    <div id="calendar"></div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const data2 = <%- JSON.stringify(data) %>;
        console.log(data2);

        const calendarEl = document.getElementById('calendar');
        if (calendarEl) {  // Check if the calendar element exists
            const calendar = new FullCalendar.Calendar(calendarEl, {
                windowResize: function (arg) {
                    // Add any functionality you need during window resize
                },
                events: data2?.exercises,
                initialView: 'dayGridMonth',
                headerToolbar: {
                    start: 'title',  // No buttons on the left
                    center: '',      // Title in the center
                    end: 'today prev,next'  // Buttons on the right
                }
            });
            calendar.render();
        } else {
            console.error('Calendar element not found');
        }
    });
</script>
</body>

<%- include("templates/footer") %>
