<%- include("templates/header") %>
<head>
    <title><%= language.calendarTitle %></title>
    <link rel="stylesheet" href="/styles/calendar.css">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.12/index.global.min.js'></script>
    <script type="module" src="/scripts/calendar.js"></script>
    <style>
        #generateExerciseBtn {
            right: 30px;
            bottom: 100px;
            padding: 20px;
            z-index: 1001;
            position: fixed;
            border-radius: 20px;
            background: #EFEFEF;
            border: 1px solid #EFEFEF;
            }

        #generateExerciseBtn:hover {
            background: #E2E2E2;
            }

        #calendar-container {
            height: 80%;
            }
    </style>
</head>

<body id="calendarBody">
<%- include("templates/navbar") %>
<div id="calendar-container">
    <div id="calendar"></div>
</div>

<a id="generateExerciseBtn" href="/newExerciseList"><svg width="57" height="62" viewBox="0 0 57 62" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M42.5 33.9287C34.68 33.9287 28.3333 40.0944 28.3333 47.6915C28.3333 55.2886 34.68 61.4543 42.5 61.4543C50.32 61.4543 56.6666 55.2886 56.6666 47.6915C56.6666 40.0944 50.32 33.9287 42.5 33.9287ZM51 49.0678H43.9166V55.9492H41.0833V49.0678H34V46.3152H41.0833V39.4338H43.9166V46.3152H51V49.0678Z" fill="black"/><path d="M24.6217 39.4338C25.6417 37.3693 27.0017 35.4976 28.6733 33.9286H11.3333V28.4235H42.5C45.5317 28.4235 48.4217 29.1117 51 30.3228V11.9082C51 8.88037 48.45 6.40307 45.3333 6.40307H33.49C32.3 3.2101 29.1833 0.897949 25.5 0.897949C21.8167 0.897949 18.7 3.2101 17.51 6.40307H5.66667C2.55 6.40307 0 8.88037 0 11.9082V50.444C0 53.4718 2.55 55.9491 5.66667 55.9491H24.6217C23.375 53.4443 22.6667 50.6367 22.6667 47.6914C22.6667 46.7556 22.7517 45.8472 22.8933 44.9389H11.3333V39.4338H24.6217ZM25.5 5.71493C26.6617 5.71493 27.625 6.6508 27.625 7.77934C27.625 8.90789 26.6617 9.84376 25.5 9.84376C24.3383 9.84376 23.375 8.90789 23.375 7.77934C23.375 6.6508 24.3383 5.71493 25.5 5.71493ZM11.3333 17.4133H39.6667V22.9184H11.3333V17.4133Z" fill="black"/></svg></a>

<%- include("templates/footer") %>
