<%- include("templates/header") %>
<head></head>
    

  
<div class="wrapper">
    <div class="index-container">
        <div class="login-box">
            <div class="login-header">
                <img src="./images/logo_NexGenFit_all_noBackground.png" alt="">
            </div>
            
            <div class="input-submit">
                <a href="/signup"><button type="button" class="submit-btn">Get Started</button></a>
                <a href="/login"><button type="button" class="submit-btn">Login</button></a>
            </div>
            
           
        </div>
    </div>
</div>





        

    </div>
 <%- include("templates/footer") %>

 <!-- <a href="/signup"><button type="button" class="btn btn-primary">Sign Up</button></a>
        <a href="/login"><button type="button" class="btn btn-primary">Log In</button></a> -->


