<%- include("templates/header") %>
<head>
    <link rel="stylesheet" href="./styles/index.css">
  </head>
      
  <div class="w-100 h-100 index-container">

    <div class="d-flex align-items-center justify-content-center flex-column position-absolute bottom-0 mb-2 pb-5 w-100">
        <h1 class="text-center ">Welcome to <span class="d-block black">NexGenFit</span></h1>

        <a href="/signup" class="text-decoration-none border-0">
            <button class="btn draw-border">Get Started</button>

        </a>
        <div class="wrapper ">
            <a href="/login" class="semiBold">Login?</a>
          </div>

    </div>
      </div>





        

    </div>
 <%- include("templates/footer") %>


