<%- include("templates/header") %>
<head>
    <title>Log In</title>
    <link rel="stylesheet" href="/styles/login.css">
</head>
<div class="form-container">
    <form id="login-form">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" required class="form-control" id="email" name="email"
                   placeholder="Enter your email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input required type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn-primary">Sign In</button>
    </form>
    <a href="/forget-password">forget your password?</a>
</div>
<div id="status-message"></div>
<%- include("templates/footer") %>

<script>
    const passwordRegex = /^(?=.*[a-zA-Z])(?=.*[0-9])[A-Za-z0-9@#*_]{5,25}$/;
    const passwordInvalidMessage = 'Password must be 5-25 characters long, including at least 1 letter and 1 number. Only @#*_ are allowed as special characters.';

    const loginForm = document.getElementById('login-form');
    loginForm.addEventListener('submit', async (e) => {
        e.preventDefault();
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const statusMessage = document.getElementById('status-message');

        statusMessage.style.visibility = 'hidden';
        statusMessage.textContent = '';

        if (!email || !password) {
            statusMessage.textContent = 'Please enter a email and password';
            statusMessage.style.visibility = 'visible';
            statusMessage.style.color = 'orange';
        } else if (!passwordRegex.test(password)) {
            statusMessage.textContent = passwordInvalidMessage;
            statusMessage.style.visibility = 'visible';
            statusMessage.style.color = 'red';
        } else {
            const response = await fetch('/logging-in', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({email, password})
            });
            try {
                const data = await response.json();
                if (data.success) {
                    console.log('kakakakaS')
                    window.location.href = '/exercises';
                } else {
                    statusMessage.style.visibility = 'visible';
                    statusMessage.style.color = 'red';
                    statusMessage.textContent = data.message;
                }
            } catch (err) {
                statusMessage.style.visibility = 'visible';
                statusMessage.style.color = 'red';
                statusMessage.textContent = 'An error occurred. Please try again.' + err;
            }
        }
    });

</script>
