<%- include("templates/header") %>
<head>
    <title>Log In</title>
    <link rel="stylesheet" href="/styles/login.css">
</head>
<div class="form-container">
    <form id="login-form">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" required class="form-control" id="username" name="username"
                   placeholder="Enter your username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input required type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn-primary">Sign In</button>
    </form>
    <a href="/forget-password">forget your password?</a>
</div>
<div id="status-message"></div>
<%- include("templates/footer") %>

<script>
    const loginForm = document.getElementById('login-form');
    loginForm.addEventListener('submit', async (e) => {
        e.preventDefault();
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const statusMessage = document.getElementById('status-message');

        statusMessage.style.visibility = 'hidden';
        statusMessage.textContent = '';

        if (!username || !password) {
            statusMessage.textContent = 'Please enter a username and password';
            statusMessage.style.visibility = 'visible';
            statusMessage.style.color = 'orange';
        } else {
            const response = await fetch('/logging-in', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({username, password})
            });
            try {
                const data = await response.json();
                if (data.success) {
                    window.location.href = '/exercises';
                } else {
                    statusMessage.style.visibility = 'visible';
                    statusMessage.style.color = 'red';
                    statusMessage.textContent = data.message;
                }
            } catch (err) {
                statusMessage.style.visibility = 'visible';
                statusMessage.style.color = 'red';
                statusMessage.textContent = 'An error occurred. Please try again.' + err;
            }
        }
    });
</script>
