<%- include("templates/header") %>
<head>
    <title>profile</title>
    <link rel="stylesheet" href="/styles/profile.css">
</head>
<%- include("templates/navbar") %>


<%- include("templates/footer") %>