<%- include("templates/header") %>

<head>
    <title>Signup</title>
    <link rel="stylesheet" href="./styles/signup.css">
</head>

<form id="signupForm" class="form-container">
    <h1>Create User</h1>

    <div class="mb-3">
        <label for="userName" class="form-label">User Name</label>
        <input name="username" type="text" class="form-control" id="userName" required>
    </div>
    <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input name="firstName" type="text" class="form-control" id="firstName" required>
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input name="lastName" type="text" class="form-control" id="lastName" required>
    </div>
    <div class="mb-3">
        <label for="birthday" class="form-label">Birthday</label>
        <input name="birthday" type="date" class="form-control" id="birthday" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input name="password" type="password" class="form-control" id="password" required>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div id="notification" style="display: none; margin-top: 20px;" class="alert alert-info">
    Verification email sent. Please check your inbox.
</div>

<script>
    document.getElementById('signupForm').addEventListener('submit', async function (event) {
        event.preventDefault();

        const form = event.target;
        const formData = new FormData(form);
        try {
            const response = await fetch('/submitUser', {
                method: 'POST',
                body: formData
            });

            if (response.ok) {
                document.getElementById('notification').style.display = 'block';
            } else {
                const errorData = await response.json();
                alert(errorData.message || 'An error occurred. Please try again.');
            }
        } catch (error) {
            console.error('Error:', error);
            alert('An error occurred. Please try again.');
        }
    });
</script>

<%- include("templates/footer") %>
