<%- include("templates/header") %>
<head><link rel="stylesheet" href="./styles/signup.css"></head>



      

        <form action='/submitUser' method='post' class="form-container">
          <h1>Create User</h1>
          <div class="mb-3">
              <class="form-label">User Name</label>
              <input name="username" type="text" class="form-control" id="userName">
            </div>
          <div class="mb-3">
            <class="form-label">First Name</label>
            <input name="first_name" type="text" class="form-control" id="firstName">
          </div>
          <div class="mb-3">
              <class="form-label">Last Name</label>
              <input name="last_name" type="text" class="form-control" id="lastName">
            </div>
            <div class="mb-3">
              <class="form-label">Birthday</label>
              <input name="birthday" type="date" class="form-control" id="birthday">
            </div>
          <div class="mb-3">
              <class="form-label">Email address</label>
              <input name="email" type="text" class="form-control" id="email" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
          <div class="mb-3">
            <class="form-label">Password</label>
            <input name="password" type="password" class="form-control" id="password">
          </div>
          
          
          <button type="submit" class="btn btn-primary">Submit</button>        

        </form>
      <%- include("templates/footer") %>