body {
    font-family: Arial, sans-serif;
    background-color: #F0F0F0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    }

.container {
    text-align: center;
    background-color: #FFF;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    }

.error-image {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    margin-bottom: 1rem;
    border-radius: 10px;
    }

.message {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #666;
    }

.home-link {
    display: block;
    padding: 0.75rem 1.5rem;
    background-color: #007BFF;
    color: #FFF;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1rem;
    transition: background-color 0.3s;
    }

.home-link:hover {
    background-color: #0056B3;
    }
