  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #3d4bcd;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #ff9262;
  }
  
  .btn-width {
      width: 7em;
  }

.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3),
.input-group:not(.has-validation)
  > .form-floating:not(:last-child)
  > .form-control,
.input-group:not(.has-validation)
  > .form-floating:not(:last-child)
  > .form-select,
.input-group:not(.has-validation)
  > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(
    .form-floating
  ) {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.input-group .btn {
  border: none;
  border-radius: 20px;
  z-index: 100;
}

.input-group-append {
    position: absolute;
    right: 6px;
    top: 0;

}


.active-unit {
    color: #3d4bcd;
    font-weight: 900;
}

.btn-exper {
    border-radius: 10px;
    background-color: #b6b8cb;
    color: black;
    border: none;
    margin: 10px 0rem;
    padding: 1rem;
}

.btn-exper:hover {
    border-radius: 10px;
    background-color: #ff9262;
    color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn.active {
    border-radius: 10px;
    background-color: #ff9262;
    color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .day-btn {
    width: 48%;
    padding: .5rem 1rem !important;
  }