.bodyCalendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

#calendar-container {
    width: 100%;
    display: flex;
    margin-top: 70px;
    justify-content: center;
    }

#calendar {
    max-width: 900px;
    width: 100%;
    margin-top: 1rem;
    }

.fc-toolbar {
    display: flex;
    justify-content: center;
    }

.fc-toolbar-title {
    flex-grow: 1;
    text-align: center;
    }

.fc-toolbar .fc-button-group {
    flex-grow: 0;
    }

@media (max-width: 600px) {
    .fc-daygrid-day {
        width: 100%;
        display: block;
        }

    .fc-daygrid-day-frame {
        display: block;
        width: 100%;
        }

    .fc-daygrid-day-top {
        display: block;
        text-align: left;
        }

    .fc-daygrid-day-events {
        display: block;
        }

    .fc-daygrid-day-number {
        display: inline-block;
        margin-right: 10px;
        }
    }
