.container {
    height: 100%;
    overflow: hidden;
}

#userAvatar,
#userAvatar img {
    width: 70px;
    height: 70px;
}


header {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1em;
    padding: 1em 0;
    border-bottom: 2px solid #000;
}

#btn-back {
    text-decoration: none;
}

@media (max-width: 701px) {
    header {
        margin: 0 1em 1em 1em;
        padding-bottom: 1em;
    }
}