/* .form-container {
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color: rgba(128, 123, 137, 0.8); 
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.form-container h1 {
    text-align: center;
    color: #333;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-size: 18px;
    font-weight: 500;
}

.form-control {
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-text {
    font-size: 14px;
    color: #212121;
}

.btn-primary {
    width: 100%;
    height: 60px;
    background-color: #d2cbcb;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.error-message {
    display: flex;
    text-align: center;
    color: rgb(125, 35, 35);
}

.btn-primary:hover {
    background-color: #0056b3; 
} */

form {
    width: 100% !important;
    margin: 1.6rem 0 0 0 !important;
    }

#regForm {
    padding: 0 3rem;
    }

/* Style the input fields */

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #FDD;
    }

/* Hide all steps by default: */
.tab {
    display: none;
    }

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #3D4BCD;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
    }

/* Mark the active step: */
.step.active {
    opacity: 1;
    }

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #FF9262;
    }

.btn-width {
    width: 7em;
    }

.alert {
    padding: 15px;
    color: #FFF;
    border-radius: 4px;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1000;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    }

.alert.show {
    opacity: 1;
    visibility: visible;
    }

.alert.green {
    background-color: #04AA6D;
    }

.alert.red {
    background-color: #F44336;
    }

.alert.blue {
    background-color: #2196F3;
    }

/* Style the form labels with a red asterisk */
.form-label.required::after {
    content: ' *';
    color: red;
    margin-left: 5px;
}

/* Animation for fading out the alert */
@keyframes fadeOut {
    from {
        opacity: 1;
        }
    to {
        opacity: 0;
        }
    }