/**
 * style.css for global
 */

/* Global */
.hidden {
  display: none; !important;
  }

.undecorated {
  /* box */
  padding: 0;
  margin: 0;
  /* font */
  text-decoration: none;
  list-style-type: none;
  /* style */
  background-color: transparent;
  border: none;
  }
